.window-class {
    margin-top: 14%;
}

.Table {
    height: 350px;
    background: linear-gradient(#006400, #003c00);
    border-radius: 250px;
    border: 1px solid black;

    margin: auto;
}

.Table-Wrapper {
    border-radius: 250px;
    margin-left: 20%; 
    margin-right: 20%; 
    position: relative; 
    border: 15px solid transparent;
    background: linear-gradient(#202020, #2c2c2c);
    border-image-slice: 1;
    padding: 0;
}

.center {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

