.update-pot-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0 solid transparent;
    cursor: pointer;
}

hr {
    border: 1px solid grey;
}

.input-pot {
    width: 80px;
    margin: 8px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.center-player-info {
    display: 'inline-block';
    position: absolute;
    top: 70px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.center-player-info-cards {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.player-info {
    padding: 3px;
    border: 5px solid black;
    border-radius: 50%;
    width: 30%;
    height: 80%;
    z-index: 3;
    position: absolute;
}

#player-1 { 
    top: calc(100%);
    left: calc(100% - 150px);
}

#player-2 { 
    top: calc(100%);
    right: calc(100% - 150px);
}

#player-3 { 
    bottom: calc(100% - 10%);
    right: calc(100% - 110px);
}

#player-4 { 
    bottom: calc(100% - 10%);
    left: calc(100% - 110px);
}
